html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', 'Segoe UI', Helvetica, Arial,  sans-serif;
  background-color: #eee;
  color: #555;
  padding: 100px;
}

h1 {
  font-size: 100px;
  line-height: 1;
  margin: 0;
}

a {
  color: dodgerblue;
}